
//converted to foreach

<% newListItems.forEach(function(item){ %>

    <div class="item">
      <input type="checkbox">
      <p><%=  item.name  %></p>
    </div>
<%  }) %>


//before
  <% for (let i=0; i<newListItems.length; i++) { %>
   
    <div class="item">
      <input type="checkbox">
      <p><%=  newListItems[i].name  %></p>
    </div>
    <% } %>